<header>
    <nav class="navbar">
        <a href="/" class="logo">Agri<span>Marketplace</span></a>
        <ul class="nav-links">
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/buyers">Buyers</a></li>
            <li><a href="/farmers">Farmers</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>
